@charset "utf-8";
/* CSS Document */

.introdiv {
	position: absolute;
	top: 20px;
	display: table-row;
}
.press_l {
	display: table;
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 155px;
	height: 612px;
	text-align: right;
	padding-right: 5px;
	}

.press_left {
	display: table-cell;
	vertical-align: top;
	width: 155px;
	text-align: right;
	}

.press {
	position: absolute;
	top: 60px;
	left: 160px;
	width: 960px;
	text-align: center;
	}

.press_r {
	display: table;
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 1120px;
	width: 160px;
	text-align: left;
	}

.press_right {
	display: table-cell;
	vertical-align: top;
	width: 160;
	text-align:left;
	}

.intro_vb {
	display: table-row;
	vertical-align: top;
	position: absolute;
	top: 670px;
	height: 40px;
	width: 1280px;
	text-align: left;
	}

.intro_b {
	display: table-cell;
	vertical-align: top;
	height: 40px;
}