@charset "utf-8";
/* CSS Document */

.introdiv {
	position: absolute;
	top: 30px;
	display: table-row;
}

.press_l {
	display: table;
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 371px;
	height: 644px;
	text-align: right;
	padding-right: 5px;
	}

.press_left {
	display: table-cell;
	vertical-align: top;
	width: 371px;
	text-align: right;
}

.press {
	position: absolute;
	top: 30px;
	left: 371px;
	width: 528px;
	text-align: center;
	}

.press_r {
	display: table;
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 904px;
	width: 376px;
	text-align: left;
	}

.press_right {
	display: table-cell;
	vertical-align: top;
	width: 376px;
	text-align:left;
}