body {
    width: 80%;
    margin-left: 10%;

}

.studentDiv,
.courseDiv,
.staffDiv {
    width: 10%;
    float: left;
    display: flex;
    flex-direction: column;
    margin: 3%
}

.course {
    flex: 1
}

.courses {
    border-style: ridge;
    border-width: 4px;
    width: 100px;
    background-color: gray;
    text-align: center;
    font-weight: 600
}

.student {
    flex: 1
}

.addStudent {
    margin-bottom: 10px;
}

.addStaff {
    float: left
}